<div class="container">
    <br>
    <form>
      <div class="mb-3">
        <label for="selectProdutos" class="form-label">Selecione os produtos*</label>
        <select id="selectProdutos" class="form-select" multiple (change)="onProductSelection($event)">
          <option *ngFor="let product of products" [value]="product.id">{{ product.nome }}</option>
        </select>
        
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-dark" (click)="validarCadastro()">Salvar &larr;</button>
      </div>
    </form>
  </div>