<ul class="list-group">
    <br>
    <a class="link-underline link-underline-opacity-0 link-underline-opacity-0-hover" href="produto/listar">
        <li class="list-group-item">
            Listar Produtos
        <i class="fa-solid fa-cart-shopping" style="padding-left: 90px;"></i>
        </li>
    </a>
    <br>
    <br>
    <a class="link-underline link-underline-opacity-0 link-underline-opacity-0-hover" href="usuarios/listar">
        <li class="list-group-item">
            Listar Usuarios
        <i class="fa-solid fa-user" style="padding-left: 91px;"></i>
        </li> 
    </a>
</ul>