<ul class="list-group">
    <br>
    <a class="link-underline link-underline-opacity-0 link-underline-opacity-0-hover" href="produto/listar">
        <li class="list-group-item text-center">
            Listar Produtos
        </li>
    </a>
    <br>
    <br>
    <a class="link-underline link-underline-opacity-0 link-underline-opacity-0-hover" href="usuarios/listar">
        <li class="list-group-item text-center">
            Listar Usuarios
        </li> 
    </a>
    <br>
    <br>
    <a class="link-underline link-underline-opacity-0 link-underline-opacity-0-hover" href="vendas/listar">
        <li class="list-group-item text-center">
            Listar Vendas
        </li> 
    </a>
</ul>