<div class="container">
    <br>
    <form>
      <div class="mb-3">
        <label for="input1" class="form-label" >Produto*:</label>
        <input type="text" name="nomeProduto" class="form-control" [(ngModel)]="nomeProduto" id="nomeProduto">
      </div>
      <div class="mb-3">
        <label for="input2" class="form-label">Preco*:</label>
        <input type="text" name="precoProduto" class="form-control" id="precoProduto" [(ngModel)]="precoProduto">
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-dark" (click)="validaCadastro()">Salvar &larr;</button>
      </div>
    </form>
  </div>