<div class="container">
    <br>
    <form>
      <div class="mb-3">
        <label for="input1" class="form-label" >Produto:</label>
        <input type="text" name="input1" class="form-control" [(ngModel)]="input1" id="input1">
      </div>
      <div class="mb-3">
        <label for="input2" class="form-label">Preco:</label>
        <input type="text" name="input2" class="form-control" id="input2" [(ngModel)]="input2">
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-dark" (click)="salvarCadastro()">Salvar &larr;</button>
      </div>
    </form>
  </div>