<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div>
      <div class="shadow p-4">
        <strong>
            <h1>
                MARKETSENSE &copy;
            </h1>
        </strong>
        
        <div class="container">
          <h5 class="text-center">Realize seu login!</h5>
          <br>
          <form #myForm="ngForm">
            <div class="mb-3">
              <label for="input1" class="form-label">Usuario:</label>
              <input type="text" name="username" class="form-control" id="username" [(ngModel)]="username">
            </div>
            <div class="mb-3">
              <label for="input2" class="form-label">Senha:</label>
              <input [type]="senhaType" name="senha" class="form-control" id="senha" [(ngModel)]="senha">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exibirSenha" [(ngModel)]="exibirSenha" (change)="exibeSenha()">
              <label class="form-check-label" for="exibirSenha">Exibir senha</label>
            </div> 
            <div class="mb-3">
              <button type="button" class="btn btn-dark" (click)="login(username, senha)">Entrar</button>
            </div>
          </form>
        </div>
  </div>
  